@(questionTypeMap:java.util.Map[String, java.util.List[Questiontype]])
<!DOCTYPE html>
<html manifest="/spaceRotation/instructionsManifest">
  <head>
  @views.html.common.instructions.head()
  </head>
<body>
  <div class="container">
  @views.html.common.instructions.progress(questionTypeMap)

  <div class="row" style="padding-left:50px;padding-right:50px;padding-bottom:10px;color:#000000">
    <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;">
    </div>
    <div class="col-sm-10 panel-info" style="height:445px;background:#FFFFFF;border:5px solid #d2ede3;border-radius:4px;float:left;" id="content-index">
      <div class="panel-body">
        <div class="row">
          <h4><p class="text-center"><b>空间旋转测试</b></p></h4>
        </div>
          <div class="row" >
          <div class="col-sm-12" style="margin-top:10px;font-size:16px;line-height:30px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在空间能力测试中，左边绿色区域的立方格为题目，右边白色区域的4个立方格为选项。选项中仅有一个立方格是由题目中的立方块旋转后得到的。请将其选出并【点击】。示例如下：
          </div>
          <div class="col-sm-12" style="margin-top:10px;padding:10px;font-size:18px;">
            <p class="text-center"> <img src="@routes.Assets.versioned("images/spaceRotation/example.gif")" style="width:400px;"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;"></div>
  </div>
  <div class="row">
    <p class="text-center" style="margin-top:10px;">
       <input id="startBtn" type="button" class="btn-default" style="height:40px;border:none;font-size:18px;font-weight:bolder;width:150px;background:#d2ede3;"
        onclick="location.replace('/spaceRotation/practiceEnd?tid=' + tid);" value="测试须知"/>
    </p>
  </div>
  </div>

</body>
</html>