@(questionTypeMap:java.util.Map[String, java.util.List[Questiontype]], size: java.lang.Long)
<!DOCTYPE html>
<html manifest="/symbolicOperation/instructionsManifest">
  <head>
  @views.html.common.instructions.head()
  </head>
<body>
  <div class="container">
  @views.html.common.instructions.progress(questionTypeMap)

  <div class="row" style="padding-left:50px;padding-right:50px;padding-bottom:10px;color:#000000">
    <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;">
    </div>
    <div class="col-sm-10 panel-info" style="height:445px;background:#FFFFFF;border:5px solid #d2ede3;border-radius:4px;float:left;" id="content-index">
      <div class="panel-body">
        <div class="row">
          <h4><p class="text-center"><b>符号运算</b></p></h4>
        </div>
        <div class="row" >
          <div class="col-sm-12" style="padding:10px;font-size:18px;line-height:30px;">
            在符号运算测试中，从0到9这十个数字分别对应着一个抽象符号。请根据数字与符号的对应关系，对抽象符号进行加减乘除运算，然后选择正确的答案。示例如下：
          </div>
          <div class="col-sm-12" style="padding:10px;font-size:18px;">
            <p class="text-center"> <img src="@routes.Assets.versioned("images/symbolicOperation/4gif.gif")" style="height:200px;"></p>
          </div>
          <div class="col-sm-12" style="font-size:18px;">
            <b>注意：</b>正式测试使用的符号与示例不同，本测试共有 @size 道题目，答题时间为3分钟
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;"></div>
  </div>
  <div class="row">
    <p class="text-center" style="margin-top:10px;">
       <input id="startBtn" type="button" class="btn-default" style="height:40px;border:none;font-size:18px;font-weight:bolder;width:150px;background:#d2ede3;"
        onclick="location.replace('/symbolicOperation/practice?tid=' + tid);" value="测试练习"/>
    </p>
  </div>
  </div>

</body>
</html>