@(questionTypeMap:java.util.Map[String, java.util.List[Questiontype]], timeMsg: String)
<!DOCTYPE html>
<html manifest="/shapelinking/practiceEndManifest">
    @views.html.common.instructions.head()
<body>
    <div class="container">
        @views.html.common.instructions.progress(questionTypeMap)

        <div class="row" style="padding-left:50px;padding-right:50px;padding-bottom:10px;color:#000000">
            <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;">
            </div>
            <div class="col-sm-10 panel-info" style="height:445px;background:#FFFFFF;border:5px solid #d2ede3;border-radius:4px;float:left;" id="content-index">
                <div class="panel-body">
                    <div class="row">
                        <h4 style="margin-top: 40px"><p class="text-center"><b>恭喜你通过练习！请准备进入正式测试。</b></p></h4>
                    </div>
                    <div class="row" >
                        <table align="center" width="650px" style="margin-top: 40px;border-collapse:separate;border-spacing: 20px;">
                            <tr>
                                <td>
                                    <div style="text-align: center;background-color: #d2ede3;line-height:45px; height: 45px;width:150px;position:relative;">
                                        <img src="@routes.Assets.versioned("images/common/feedback1.png")" style="width:60px;position: absolute;left:-28px;top:-7px;">
                                        反馈
                                    </div>
                                </td>
                                <td>
                                    点击正确，形状变为绿色并出现连线；点击错误，形状闪烁
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align: center;background-color: #d2ede3;line-height:45px; height: 45px;width:150px;position:relative;">
                                        <img src="@routes.Assets.versioned("images/common/clock1.png")" style="width:60px;position: absolute;left:-28px;top:-12px;">
                                        限时@(timeMsg)
                                    </div>
                                </td>
                                <td>
                                    请你在保证正确性的情况下尽快作答。
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align: center;background-color: #d2ede3;line-height:45px; height: 45px;width:150px;position:relative;">
                                        <img src="@routes.Assets.versioned("images/common/exchange1.png")" style="width:60px;position: absolute;left:-28px;top:-7px;">
                                        题目切换
                                    </div>
                                </td>
                                <td>
                                    完成当前题目后，自动进入下一题
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        <div class="col-sm-1" style="height:445px;float:left;padding-top:112px;"></div>
        </div>
        <div class="row">
            <p class="text-center" style="margin-top:10px;">
                <input id="startBtn" type="button" class="btn-default" style="height:40px;border:none;font-size:18px;font-weight:bolder;width:150px;background:#d2ede3;"
                onclick="location.replace('/shapelinking/test?tid=' + tid);" value="开始测试"/>
            </p>
        </div>
    </div>

</body>
</html>