@(questionTypeMap:java.util.Map[String, java.util.List[models.Questiontype]], list:java.util.List[java.util.Map[String,java.util.List[java.util.List[String]]]], pageNum: String)
<!DOCTYPE html>
<html manifest="/grapfSearch/practiceManifest">
<head>
    @views.html.common.practice.head()
    <script src="@routes.Assets.versioned("javascripts/amazeUI/amazeui.js")" type="text/javascript"></script>
    <link href="@routes.Assets.versioned("stylesheets/amazeUI/amazeui.css")" rel="stylesheet">
    <style>
        body{
            background:#F2F2F2;
        }
        body{
            color:#B5DC86;
            padding-top:0px;
        }
    </style>

</head>
<body>

<div class="container">
    @views.html.common.instructions.progress(questionTypeMap)
    <div class="row" style="padding-left:50px;padding-right:60px;padding-bottom:10px;color:#000000">
        <div class="col-sm-1" style="height:445px;float:left;padding-top:135px;">

        </div>
        <div class="col-sm-10 panel-info" style="min-height:445px;background:#FFFFFF;border:5px solid #d2ede3;border-radius:4px;float:left;" id="content-index">
            @for((map, i) <- list zipWithIndex){
            <div id="@map.get("qid")" class="panel-body"  style=@(if(i == 0){"display:block"} else{"display:none"})>
            <table align="center" widte="641px" height="391px">
                @for(grapfList <- map.get("grapfList")){
                <tr>
                    @for(img <- grapfList){
                    <td width="80.125px" height="78.2">
                        <div name="circle" style="position:absolute;top:10px;left:10px;width:50px;height:50px;border:3px solid lightgreen;border-radius:50px;display: none;"></div>
                        <img @if(img == map.get("answer")){id = 'right_@map.get("qid")'} src="@routes.Assets.versioned("images/grapfSearch/" + img +".png")"
                        @if(img.equals("0")){style="height:58px;width:58px;cursor:auto;"}else{style="z-index:2;height:58px;width:58px;cursor:pointer;"
                            onclick="choose('@map.get("qid")',@img, @map.get("answer"),this)"}>
                    </td>
                    }
                </tr>
                }
            </table>
            </div>
            }
        </div>
        <div class="col-sm-1" style="height:445px;float:left;padding-top:135px;">

        </div>
    </div>
    <div class="row">
        <p class="text-center" style="margin-top:10px;font-size:16px;" id="page_content">
            @pageNum
        </p>
    </div>
</div>
<script>


    var promptTime = getPromptTime();
    var isopen = false;
    $(function(){
        //去掉点击效果的点击事件
        var obj = $("#content-index >div");
        $(obj).find("img").each(function(){
            var src = $(this).attr("src")
            if(src.substring(src.lastIndexOf("/")+1,src.length-4)==0){

                $(this).removeAttr("onclick")
                $(this).css("cursor","auto")
            }
        })
    })
    /**
     *
     * param qid 题目id
     * param imgnum 图片编号
     * param answer 答案
     * param obj 所选的图片对象
     */
    function choose(qid,imgnum, answer,obj){

        clearTimeout(promptTime);
        if(imgnum == answer){// 如果选中了正确答案
            obj.onclick = "";
            $("#temp_pic").remove();
            sign("@routes.Assets.versioned("images/common/right.png")", obj);
            setTimeout(scaleDown(obj), 1000);
            setTimeout("isopen = false;show_next_practice('/grapfSearch/practiceEnd?tid=' + tid);getPromptTime();", 1800);
        } else {
            $("#temp_pic").remove();
            sign("@routes.Assets.versioned("images/common/wrong.png")", obj);
            // 如果正确答案提示圆圈不存在，画圈提示
            if($("#quan_pic").length == 0){
                huaquan(qid);
            }
        }
    }

    /**
     * 反馈
     */
    function sign(src, obj){
        var img = document.createElement("img");
        img.src = src;
        img.style = "z-index:9;position:absolute;left:"+ ($(obj).position().left+ 20) +"px;top:" + ($(obj).position().top + 20)+"px;";
        img.width = 20;
        img.id = "temp_pic";
        $(obj).parent().append(img);
    }

    /**
      * 粉扑放大效果
      */
    function scaleDown(obj){
        if(!$(obj).attr("class")){
            $(obj).addClass("am-animation-scale-down am-animation-reverse");
        }
        if ($.AMUI.support.animation) {
            $(obj).addClass("am-animation-scale-down am-animation-reverse").one($.AMUI.support.animation.end, function() {
                $(obj).removeClass("am-animation-scale-down am-animation-reverse");
            });
        }
    }

    /**
     * 画圈
     * param qid 题号
     */
    function huaquan(qid) {

        var div = document.createElement("div");
        div.style = "cursor:pointer;z-index:1;position:absolute;width:65px;height:65px;border:3px solid lightgreen;border-radius:65px;left:"+ ($("#right_"+qid).position().left - 3) +"px;top:" + ($("#right_"+qid).position().top - 3)+"px;";
        $("#right_"+qid).parent().append(div);
        $(div).click(function(){
            $(div).parent().find('img').click()
        });
    }

    /**
     *
     * returns {number}
     */
    function getPromptTime(){
        var obj = $("#content-index >div");
        for (var i = 0; i < obj.length; i++) {
            if ($(obj).eq(i).css("display") == "block") {
                var pid = $(obj).eq(i).attr("id");
                promptTime = setTimeout("huaquan('"+pid+"')",5000);
            }
        }
    }
</script>
</body>
</html>
