.admissionCard{
    min-height: 60px;
    background: #48C9A3;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
    padding: 0 25%;
}
.ad-column{
    float: left;
    margin-right: 10%;
    line-height: 60px;
    height: 60px;
}
.admissionCard label{
    margin-right: 10px;
}

.topbar-nav{
    float: right;
    margin-right: 10px;
}

.topbar-nav > li {
    float: left;
    display: block;
}

.topbar-nav > li > a {
    line-height: 60px;
    padding: 0.4em 1em;
}

.topbar-nav a {
    color: #fff;
}