/** 答题进度 */
.progress-num {
    background-color: #FFFFFF;
    width:45px;
    height:45px;
    border-radius:45px;
    padding-top: 1.5px;
    text-align:center;
    font-size: 22px;
    font-weight: 600;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    line-height: 1.6;
}

.progress-num-finished {
    border:3px solid #4f68c7;
    color:#4f68c7;
}

.progress-num-waiting {
    border:3px solid #B6C0E8;
    color:#6ACB75;
}

.progress-arrow-right-testing {
    border:3px solid #4f68c7;
    background-color: #FFFFFF;
    width:45px;
    height:45px;
    border-radius:45px;
    padding-top: 1.5px;
    text-align:center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
}

.progress-arrow-right {
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:15px solid #4f68c7;
    margin: -25px 14px;
}