body{
    background:#F2F2F2;
    color:#B5DC86;
    padding-top:0px;
}
.answer_box{
    min-height:445px;
    background:#FFFFFF;
    border:5px solid #d2ede3;
    border-radius:4px;
}
.arrow_div{
    height:445px;
    padding-top:135px;
}
.wenhao{
    width:60px;
    height:60px;
    margin:5px 0 0 5px;
    background-color:#f2f2f2;
    border-radius:60px;
    position:absolute;
    z-index:1;
    text-align:center;
    line-height:60px;
    font-size:60px;
    color:#689999;
    cursor: pointer;
}
.wenhao_reminder{
    width:350px;
    height:70px;
    position:relative;
    left:30px;
    top:0px;
    display:none;
    border:3px solid #7d7d7d;
    padding:10px 0px 10px 40px;
    border-radius:3px;
}

.wenhao_reminder span{
    color:#000000;
}

.wenhao_reminder p{
    color:#000000;
}

.arrow-left {
    width:0;
    height:0;
    border-top:80px solid transparent;
    border-bottom:80px solid transparent;
    border-right:50px solid #48C9A3;
    cursor: pointer;
}

.arrow-right {
    width:0;
    height:0;
    border-top:80px solid transparent;
    border-bottom:80px solid transparent;
    border-left:50px solid #48C9A3;
    cursor: pointer;
}

.btn-test{
    width:150px;
    border:none;
    background:#d2ede3;
    padding: 6px 12px;
    line-height: 1.42857;
    font-size:18px;
    font-weight:bolder;
}

.btn-test:hover,.btn-test:focus,.btn-test.focus,.btn-test:active,.btn-test.active{background:#05c0c2;color:#ffffff;}
.arrow-right:hover,.arrow-right:focus,.arrow-right.focus,.arrow-right:active,.arrow-right.active{border-left:50px solid #3aad8b;}
.arrow-left:hover,.arrow-left:focus,.arrow-left.focus,.arrow-left:active,.arrow-left.active{border-right:50px solid #3aad8b;}