/* time scroll*/
.pie{width:70px;height:70px;background-color:blue;border-radius:70px;position:absolute;}
.pie1{clip:rect(0px,70px,70px,35px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#7d7d7d;}
.pie2{clip:rect(0px,35px,70px,0px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#7d7d7d;}
.hold{width:70px;height:70px;position:absolute;z-index:1;}
.bg{width:70px;height:70px;border-radius:70px;position:absolute;background-color:#5bd2b2;}
.time_cart{width:60px;height:60px;margin:5px 0 0 5px;background-color:#f2f2f2;border-radius:60px;position:absolute;z-index:1;text-align:center;line-height:60px;font-size:14px;color:#689999;}


.num_cart{
    width:170px;
    height:170px;
    margin:15px 0 0 15px;
    background-color:#f2f2f2;
    border-radius:170px;
    position:absolute;
    left:337.5px;
    top:122.5px;
    z-index:1;
    text-align:center;
    padding-top:56px;
    line-height:60px;
    font-size:100px;
    color:#689999;
}