@(question:models.vo.QuestionVo,choicesMap:Map[String,Map[String,String]])
<!doctype html>
<html>
<head>
    <title>综合素质测评系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/common/logo_xinli.png")">
    <link href="@routes.Assets.versioned("stylesheets/amazeUI/amazeui.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/amazeUI/admin.css")" rel="stylesheet">

    <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/amazeUI/amazeui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/amazeUI/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/page.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/admin.js")" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/javascripts/amazeUI/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->

</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改试题</strong> / <small></small></div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12" style="height: 1200px;">
                <form class="am-form">
                    <fieldset>
                        <legend>修改试题</legend>
                        <div class="am-form-group" id="subType">
                            <input type="hidden" value="@question.getqType()" id="qType">
                            <input type="hidden" value="@question.getId()" id="qid">
                        </div>
                        <div class="am-form-group">
                            <label for="question">题目：</label>
                            <textarea id="question" readonly>@question.getQuestion</textarea>
                        </div>
                        <div class="am-form-group">
                            <label for="answer">选项：</label>
                            <table class="am-table am-table-bordered am-table-radius am-table-striped" id="answer" >
                                <thead>
                                    <tr>
                                        <th>选项类型</th>
                                        <th>名称</th>
                                        <th>平均分</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @for((k,v)<-choicesMap){
                                        @for((key,value) <-v) {
                                            <tr class='remove'>
                                                <td data="@k">@k</td>
                                                <td><span>@key</span></td>
                                                <td><input type='text' minlength='1' placeholder='请输入平均分' value="@value" data-validation-message='输入平均分' required/></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <button class="am-btn am-btn-secondary" type="button" onclick="editSubmit()">修改</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-bd">
                修改成功！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
<!-- content end -->
    <script type="text/javascript">
        $(function() {
            formValidator();
        });
        //提交数据
        function editSubmit(){
            if ($('.am-form').validator().data('amui.validator').isFormValid()) {
                var json ={};
                var choiceStr = "";

                $("#answer").find("input").each(function(){
                    var value =  $(this).parents("tr").find("td").eq(0).attr("data")
                    choiceStr += '"'+value+ '"' + ":"+'"'+ $(this).val() +'",';
                })
                json[0] = {
                    "qid":$("#qid").val(),
                    "qType":$("#qType").val(),
                    "answer":choiceStr.substr(0,choiceStr.length-1)
                }

                addOrUpdataAjaxSubmit("post",JSON.stringify(json),"/question/edit","/admin/question/listView")
            }
        }
    </script>
</body>
</html>
