@(list:java.util.List[java.util.Map[String,Object]])(pageNum: String)
@import utils.enums.QuestionTypeEnum
@import utils.SystemConstant
@import play.cache.Cache
@import java.util.Map
<!DOCTYPE html>
<html manifest="/emotionUnderstanding/testManifest">
    <head>
        @views.html.common.test.head()
        <script>
            var qtype = @QuestionTypeEnum.EMOTION_UNDERSTANDING.getId();
		    var qtypeName = "@QuestionTypeEnum.EMOTION_UNDERSTANDING.getName()";
		    @defining(Cache.get("qtypeTimeMap").asInstanceOf[Map[Integer, Integer]]) { qtypeTimeMap =>
			    var maxtime = @qtypeTimeMap.get(QuestionTypeEnum.EMOTION_UNDERSTANDING.getId());
	  	    }
            var marksrc = "@routes.Assets.versioned("images/common/mark.png")";
            var markedsrc = "@routes.Assets.versioned("images/common/marked.png")";
        </script>
        <script src="@routes.Assets.versioned("javascripts/question/test.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/question/emotionUnderstanding.js")" type="text/javascript"></script>
        <style>
            body{
                background:#F2F2F2;
                color:#B5DC86;
                padding-top:0px;
            }
            .optionBtn{
                height:25px;
                width:35px;
                border:none;
                font-size:18px;
                background:#d2ede3;
            }
            .optionBtnSelected{
                height:25px;
                width:35px;
                border:none;
                font-size:18px;
                background:#05c0c2;
            }

            .sender div:nth-of-type(1){
                float: left;
            }
            .sender div:nth-of-type(2){
                background-color: #F2F2F2;
                float: left;
                padding: 5px 5px 5px 0px;
                border-radius:7px;
            }

            .left_triangle{
                height:0px;
                width:0px;
                border-right:10px solid #F2F2F2;
                border-bottom: 4px solid transparent;
                border-top: 7px solid transparent;
                position: relative;
                left:-9px;
                top:3px;
            }
            .optionText{
                width: 50px;
                display: inline-block;
            }
        </style>
        <script>
            function initPage(){
                var testingPage = 1;
                if(getCookieByName("testingPage")){
                    testingPage = getCookieByName("testingPage");
                }
                if(getCookieByName("answerJsonCookies")){
                    json = JSON.parse(getCookieByName("answerJsonCookies"));
                }
                /** 设置当前显示的页面 */
                showPageByCookie(testingPage);

                /** 设置答案 */
                if(getCookieByName("answerCookies")){
                    answerCookies = JSON.parse(getCookieByName("answerCookies"));
                }

                for(var i = 0; i < answerCookies.length; i++) {
                    var answer = answerCookies[i];
                    if(answer != null){
                        for(var key in answer){
                            $("#content-index >div").eq(i).find('div[name="div_' + key + '"] > :button').each(function(j){
                                if($(this).val() == answer[key]) {
                                    selected(this);
                                }
                            })
                        }

                    }
                }
                showOrHideArrowRight();// 设置切换题目的向右箭头是否可用
                /** 设置页码 */
                showPageNumByCookie(testingPage);
            }

            /**
             * 3，2，1倒数结束
             */
			function finish321(){
			    $("#countBackwards").remove();// 删除321组件
                $("#content-index > div:first").css("display", "block");// 显示第一道题
                countDown(maxtime);// 圆圈倒计时
			}

            var answerList = [];
            var json = {};// 用来存储answer对象，组成一个answer的list
            var answerJson = {};
            var lastQuestionId = '@list.get(list.size()-1).get("qid")';
            var isAnserwEnd = false;//标记是否全部答完题目
            /**
             * param qid 题目id
             * param choice 选择的答案
             * param obj 所选的DOM对象
             */
            function choose(obj, qid, type){
                selected(obj);
                showOrHideArrowRight();
                var answer;
                var answerDetail;
                if(answerJson[qid] == undefined){
                    answerJson[qid] = {};
                }
                answerJson[qid][type] = $(obj).val();
                answer = answerJson[qid];
                answerDetail = type+":"+$(obj).val();
                setAnswerCookies(answer);
                var curent_time = curentTime();// 当前系统时间
                if(json[qid] == undefined){
                    json[qid] = {
                        "uid":uid,
                        "tid":tid,
                        "qid":qid,
                        "answer":JSON.stringify(answer),
                        "qtype":qtype,
                        "type":0,// type代表：考生在切换前是否对题目进行了标记（是-1，否-0）
                        "clickNum":1,
                        "clickTime": curent_time
                    };
                } else {
                    json[qid]["answer"] = JSON.stringify(answer);
                    json[qid]["clickNum"] ++;
                    json[qid]["clickTime"] = curent_time;
                }
                saveAnswerByLocalStorage(json);
                saveAnswerDetailByLocalStorage(answerDetail, "4");// 记录答题详情
            }

            function submitAnswer(){
                for(var key in json){
                    answerList.push(json[key]);
                }
                var json_str = JSON.stringify(answerList);// 提交的json数据
                var url = "/emotionUnderstanding/submitAnswer";// ajax提交的地址
                var href = "/emotionUnderstanding/endTime?tid=" + tid;// 提交成功后跳转到此页面
                var flag = true;// 是否要提示断网信息,并尝试重新提交答案
                if(isOffLine){
                    submitAnswerByLocalStorage(json_str, href);
                } else {
                    submitAnswerByAjax(url, json_str, href, flag);
                }
            }

		</script>
    </head>
    <body>
        <div class="container">
            <div class="row" style="height:100px;padding-top:10px;padding-left:50px;padding-right:50px;">
                    <!-- 问号提示 start -->
                <div class=" col-sm-offset-1 col-sm-1">
                    <div class="bg" style="background-color:#7d7d7d;" ></div>
                    <div class="wenhao" onclick="showReminder()">?</div>
                    <div id="wenhao"  class="wenhao_reminder">
                        <span >
                            请回答图中的主角在多大程度上包含了以下选项的情绪，从 1-6表示该情绪的强烈程度不断增强。
                        </span>
                    </div>
                </div>
                    <!-- 问号提示 end -->
                <div class=" col-sm-offset-7 col-sm-1">

                    <div class="hold">
                        <div class="pie pie1"></div>
                    </div>
                    <div class="hold">
                        <div class="pie pie2" style="font-size:20px;"></div>
                    </div>
                    <div class="bg"> </div>
                    <div class="time_cart"></div>
                </div>
            </div>
            <div class="row" style="padding-left:50px;padding-right:60px;padding-bottom:10px;color:#000000">
                <div class="col-sm-1" style="height:445px;float:left;padding-top:135px;">
                    @*<div class="arrow-left" onclick="show_prev()"></div>*@
                </div>

                <div class="col-sm-10 panel-info" style="height:445px;background:#FFFFFF;border:5px solid #d2ede3;border-radius:4px;float:left;" id="content-index">
                    <div id = "countBackwards" class="panel-body">
                        <div style="width:200px;height:200px;border-radius:200px;position:absolute;left:337.5px;top:122.5px;background-color:#d2ede3;"> </div>
                        <div class="num_cart"></div>
                    </div>
                @for(map <- list){
                    <div data="0" class="panel-body" style="display:none">
                        <div class="row" style="text-align:center;padding:0;">
                        @defining(map.get("question").asInstanceOf[String]){question =>
                            <img width="200px" src="@routes.Assets.versioned("images/emotionUnderstanding/" + question + "_1.jpg")">
                            <img width="200px" src="@routes.Assets.versioned("images/emotionUnderstanding/" + question + "_2.jpg")">
                        }
                        </div>

                        <div style="height:40px;margin-top:5px;padding-left: 230px;">
                            在此漫画中，<img width="30px" src="@routes.Assets.versioned("images/emotionUnderstanding/ask/" + map.get("ask") + ".png")" style="margin-left: 15px;">的情绪是：
                        </div>

                        @*<div style="height:40px;margin-top:5px;">
                            <div style="float:left;margin-left:230px;">
                                在此漫画中，<img width="40px" src="@routes.Assets.versioned("images/emotionUnderstanding/ask.png")" style="margin-left: 15px;">的情绪是：
                            </div>
                            <div class="sender" style="float:left;margin-left:20px;">
                                <div></div>
                                <div>
                                    <div class="left_triangle"></div>
                                    <span id="say"> 您有10点可用 </span>
                                </div>
                            </div>
                        </div>*@

                        <div class="row" style="margin-top:10px;">
                            @defining(map.get("options").asInstanceOf[List[String]]){options =>
                            @for((option, index) <- options zipWithIndex){
                                <div name="div_@option" style="text-align:center;padding:0;margin-top: 5px;">
                                    <span class="optionText">@SystemConstant.EMOTION_MAP.get(option)</span>
                                    <input type="button" class="optionBtn" value="1" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                    <input type="button" class="optionBtn" value="2" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                    <input type="button" class="optionBtn" value="3" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                    <input type="button" class="optionBtn" value="4" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                    <input type="button" class="optionBtn" value="5" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                    <input type="button" class="optionBtn" value="6" onclick="choose(this, '@map.get("qid")', '@option')"/>
                                </div>
                            }}
                        </div>
                    </div>
                }

                </div>
                <div class="col-sm-1" style="height:445px;float:left;padding-top:135px;">
                    <div class="arrow-right"  style="border-left:50px solid grey"></div>
                </div>
            </div>

            <div class="row" style="position:relative;">
                <p class="text-center" style="margin-top:10px;font-size:16px;" id="page_content">
                @pageNum
                </p>
                <input id="submit_button" type="button" class="btn-test btn-default" style="position: absolute;right:150px;top:1px;display: none;" value="提 交"
                onclick="submitAnswer();"/>
            </div>

        </div>
    </body>
</html>