<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中小学生综合素质测评系统</title>
	<style type="text/css">
		#content .biaoti{
			margin-left: 40px;
			font-size:15px;
			font-weight:bold;
			font-family:'微软雅黑';
			color:#585858;
			vertical-align: top;
		}
	</style>		
</head>
<body>	
	<div id="container"  style="margin-left:auto;margin-right:auto;margin-top:20px;width:689px;height:606px;border:solid black 1px">
		<div id="head">
			<div align="center" style="margin-bottom:5px">
				<span style="font-size:20px;font-weight:bold;color:#072a46;font-family:'微软雅黑'">考 试 管 理 系 统 使 用 说 明</span>
			</div>
		</div>
		<div id="content" style="margin-top:40px">
			<div style="width:689px;height:90px;">
				<div>
					<span class="biaoti">组 织 考 试</span>
					<div style="width:400px;height:70px;border:solid black 1px;float:right;margin-right:120px;">sssssssssss</div>
				</div>
			</div>
			<div style="width:689px;height:90px;">
				<div>
					<span class="biaoti">组 织 考 试</span>
					<div style="width:400px;height:70px;border:solid black 1px;float:right;margin-right:120px;">sssssssssss</div>
				</div>
			</div>
			<div style="width:689px;height:90px;">
				<div>
					<span class="biaoti">考 试 结 果</span>
					<div style="width:400px;height:70px;border:solid black 1px;float:right;margin-right:120px;">sssssssssss</div>
				</div>
			</div>
			<div style="width:689px;height:90px;">
				<div>
					<span class="biaoti">管 理 学 校</span>
					<div style="width:400px;height:70px;border:solid black 1px;float:right;margin-right:120px;">sssssssssss</div>
				</div>
			</div>
		</div>
			
	</div>
</body>
</html>