<!doctype html>
<html>
<head>
    <title>综合素质测评系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/common/logo_xinli.png")">
    <link href="@routes.Assets.versioned("stylesheets/amazeUI/amazeui.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/amazeUI/admin.css")" rel="stylesheet">

    <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/amazeUI/amazeui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/amazeUI/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/admin.js")" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/javascripts/amazeUI/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->

</head>
<body>
    @views.html.common.admin.upgradeBrowserInfo()
    <!-- content start -->
    <div class="admin-content">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">添加题型</h3>
            </header>
            <div class="am-panel-bd" id="container">
                <form class="am-form" id="doc-vld-msg">
                    <fieldset>
                        <legend>添加题型</legend>
                        <div class="am-form-group">
                            <label for="qTypeName">题型名称：</label>
                            <input type="text" id="qTypeName" minlength="1" data-validation-message="请输入题型名称" placeholder="输入题型名称（至少 1 个字符）" required/>
                        </div>
                        <div class="am-form-group">
                            <label for="introduce">题型介绍：</label>
                            <input type="text" id="introduce" minlength="1" data-validation-message="请输入题型介绍" placeholder="输入题型介绍（至少 1 个字符）" required/>
                        </div>
                        <div class="am-form-group">
                            <label for="answerTime">答题时间：</label>
                            <input type="text" id="answerTime" minlength="1"  data-validation-message="请输入答题时间" placeholder="输入答题时间（单位/S 如无限制请输入0）" required/>
                        </div>
                        <div class="am-form-group">
                            <label for="scoring">计分方式：</label>
                            <input type="text" id="scoring" minlength="1"  data-validation-message="请输入计分方式" placeholder="输入计分方式" required/>
                        </div>
                        <button class="am-btn am-btn-secondary" type="button" onclick="addSubmit()">提交</button>
                    </fieldset>
                </form>
            </div>
        </section>
        <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-bd">
                    添加成功！
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>
    </div>
<!-- content end -->
    <script type="text/javascript">
        $(function() {
            formValidator();
        });
        //提交数据
        function addSubmit(){
            if ($('.am-form').validator().data('amui.validator').isFormValid()) {
                var json ={};
                json[0] = {
                    "qTypeName":$("#qTypeName").val(),
                    "introduce":$("#introduce").val(),
                    "answerTime":$("#answerTime").val(),
                    "scoring":$("scoring").val()
                }
                addOrUpdataAjaxSubmit("post",JSON.stringify(json),"/questiontype/add","/questiontype/list/1")
            }
        }
    </script>
</body>
</html>
