@(method:String, uri:String)
<!doctype html>
<html class="no-js">
<head>
  <title>中小学生综合素质测评系统</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="这是一个404页面">
  <meta name="keywords" content="404">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/common/logo_xinli.png")">
  <link href="@routes.Assets.versioned("stylesheets/amazeUI/amazeui.min.css")" rel="stylesheet">
</head>
<body>

<div class="am-cf admin-main">
  <div class="admin-content">
    <div class="am-g">
      <div class="am-u-sm-12">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
        <p class="am-text-center">For request '@method  @uri'</p>
        <p class="am-text-center">没有找到你要的页面</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
